html, body, head, p, ul, li, a, h1, h2, h3, h4 ,h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: "Robot";
    text-decoration: none;
    list-style: none;
}

.page {
    width: 1280px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding-top: 63px;
}

.header-title {
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    color: #4BCAFF;
}

.bl-header-title {
    color: black;
}

.header-nav {
    margin-top: 40px;
    padding: 0 132px 0 160px;
    width: 100%;
    background-color: #35444F;
    box-sizing: border-box;
}

.menu {
    display: flex;
}

.menu-items1 {
    padding: 0 33px;
}

.menu-items2 {
    padding: 0 36px;
}

.menu-items3 {
    padding: 0 40px;
}

.menu-items4 {
    padding: 0 40px;
}

.menu-items1, .menu-items2, .menu-items3, .menu-items4 {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-top: 24px;
    padding-bottom: 18px;
    transition: 0.5s;
}

.menu-items1:hover, .menu-items2:hover, .menu-items3:hover, .menu-items4:hover {
    background-color: #222F3A;
}

.menu-detail {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

main {
    margin-top: 50px;
}

.row {
    display: flex;
}

aside {
    width: 345px;
    height: 400px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.aside-menu-item {
    padding: 25px 0;
    padding-left: 44px;
    transition: 0.5s;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    color: #485863;
    cursor: pointer;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    color: #000000;
}

.aside-menu-detail {
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    color: #485863;
}

.img-box {
    width: 885px;
    height: 530px;
    margin-left: 52px; 
    border: 1px solid #000000;
}

.main-img {
    display: block;
    margin: 75px auto 73px;
}

.row {
    margin-bottom: 37px;
}

.main-text {
    margin-left: 400px;
    margin-bottom: 35px;
    width: 885px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #2C2C2C;
}

.sub-text {
    margin-left: 400px;
    width: 885px;   
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #2C2C2C;
}

footer {
    width: 100%;
    margin-top: 54px;
    margin-bottom: 30px;
    padding: 20px 40px;
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-line {
    display: flex;
}

.footer-menu-item {
    padding: 0 20px;
}

.footer-menu-detail {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: #0C1927;
    transition: 0.5s;
}

.footer-menu-detail:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer-water-line {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #010101;
}